body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 64px;
    transition: 0.1s;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.1s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .openbtn {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #818181;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: none;
    transition: 0.1s;
    z-index: 1;
    position: fixed;
  }

  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    margin-left: 120px;
    padding-left: 10px;
    transition: 0.1s;
  }

  textarea {
    font-family:"Courier";
    font-size: 14px;
  }


















